<div>
  <div>
    <button (click)="deal()">Deal</button> <button (click)="clear()">Clear</button>
  </div>
  <div class="decks">
    <div *ngFor="let deck of deckToShow" [ngClass]="suitsColors[deck.suit]" class="deck">
      <div class="top">
        <div>{{deck.face}}</div>
        <div>{{deck.suit}}</div>
      </div>
      <div class="center">{{deck.suit}}</div>
      <div class="bottom">
        <div>{{deck.face}}</div>
        <div>{{deck.suit}}</div>
      </div>
    </div>
  </div>

</div>

